<template>
  <svg
    width="1.4em"
    viewBox="0 0 32 32"
    xmlns="http://www.w3.org/2000/svg"
    fill-rule="evenodd"
    fill="currentColor"
  >
    <path d="M7.823 18.547a6.749 6.749 0 0 1-5.178-6.56l.001-.121V9.014l-.001-.059V5.379A2.896 2.896 0 0 1 5.54 2.484h.947v-.005h3.298c5.428.006 10.088 3.316 12.076 8.025a8.057 8.057 0 0 1 7.494 8.034c0 .155-.046.618-.205.818-.232.292-.604.305-.604.305h-6.301c-1.676 5.141-6.445 8.892-12.105 9.049-.57.505-1.32.811-2.14.811-.93 0-1.769-.394-2.359-1.024a.54.54 0 0 1-.073-.111c-.02-.042-.03-.085-.034-.102-.129-.523.204-1.085.913-1.061a.628.628 0 0 1 .357.154c.341.277.722.529 1.196.529a1.616 1.616 0 0 0 1.04-2.85.333.333 0 0 1-.072-.087.69.69 0 0 1-.054-.169c-.074-.809.436-1.064 1.04-.998a.437.437 0 0 1 .127.039.42.42 0 0 1 .059.041 3.221 3.221 0 0 1 1.013 3.112l.01-.005c1.805-.839 2.463-2.161 2.63-2.791.794-3.003-1.731-5.515-3.762-5.499l-.063.006-2.222 2.215a.814.814 0 1 1-1.179-1.121l.019-.018 1.237-1.234Zm1.68-7.184a7.956 7.956 0 0 1 8.145 7.948 7.93 7.93 0 0 1-2.442 5.731 5.855 5.855 0 0 0-5.451-7.985c-.185 0-.362-.019-.533-.054-2.779-.347-4.932-2.694-4.932-5.532l.001-.108h5.212Zm-.455-5.629a1.398 1.398 0 1 1-.002 2.796 1.398 1.398 0 0 1 .002-2.796Z"/>
</svg>
</template>
