.vue-smart-pages {
  background-color: white;
  color: black;
}

.dark .vue-smart-pages {
  background-color: #374151;
  color: #e5e7eb;
}

.preview {
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.preview h1,
.preview h2,
.preview h3 {
  font-weight: bold;
}

.preview h1 {
  font-size: 2.13em;
}

.preview h2,
.preview h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.preview h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.preview ul,
.preview ol {
  padding-left: 1.5em;
  margin: 0.2em 0;
}

.preview ul {
  list-style-type: circle;
}

.preview p,
.preview li,
.preview dl {
  margin: 0;
}

.preview dl {
  display: flex;
  flex-direction: row-reverse;
}

.preview dl dd {
  flex: 1;
  margin-inline-start: 0;
}

.preview :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

.preview svg.iconify {
  vertical-align: -0.2em;
}

.preview img {
  max-width: 100%;
}

.preview-header {
  text-align: center;
}

.preview-header span {
  font-family: "CMU Sans Serif";
}

.preview-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

.preview-header-item:not(.no-separator)::after {
  content: " | ";
}

@media print {
  .vue-smart-pages {
    background-color: white !important;
    color: black !important;
  }

  .dark .preview-header a {
    color: black !important;
  }
}
