#app {
  @apply h-screen;
}

.header {
  height: 48px;
}

.workspace {
  height: calc(100% - 48px) !important;
}

.editor-pane {
  @apply h-full;
}

.preview-pane,
.toolbar-pane {
  @apply !overflow-y-scroll;
}

.toolbar-pane {
  @apply !bg-white;
}

.preview-pane::-webkit-scrollbar,
.toolbar-pane::-webkit-scrollbar {
  @apply hidden;
}

.preview {
  @apply mx-auto origin-top-left;
}

.vue-smart-pages {
  @apply my-1 mx-auto border border-black;
}

.vue-smart-page-break {
  @apply border-t-2 border-black;
}

/* Dark mode */

.dark body {
  @apply bg-gray-700;
}

.dark .vue-smart-pages,
.dark .vue-smart-page-break {
  @apply border-gray-300;
}

.dark .preview-pane {
  @apply !bg-dark-100;
}

.dark .toolbar-pane {
  @apply !bg-gray-700;
}

.dark .splitpanes__splitter {
  @apply !bg-gray-700 !border-gray-600;
}

.dark .splitpanes__splitter:before,
.dark .splitpanes__splitter:after {
  @apply !bg-gray-500;
}


/* Print mode */

@media print {
  @page {
    margin: 0;
  }

  .header,
  .editor-pane,
  .toolbar-pane,
  .toolbar-mobile,
  .splitpanes__splitter,
  .Vue-Toastification__container {
    display: none;
  }

  .splitpanes__pane {
    width: 100% !important;
  }

  .preview {
    transform: scale(1) !important;
    margin-bottom: 0 !important;
  }

  .vue-smart-pages {
    border: none;
    margin: 0;
    padding-bottom: 0 !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .vue-smart-page-break {
    page-break-before: always;
    margin-top: 0 !important;
    border: none;
  }

  #app {
    height: auto;
  }
}
